<div class="question">
    <div class='name'>
    法政大学船堀寮
    </div>
    <div class="main-img">
     <%= image_tag 'funabori.jpg', class:"image" %>
    </div>
    <div class='text'>
    居室のお風呂と大浴場があり、気分をリフレッシュ！
    寮だけど門限なし！
    朝夕の食事付きで食生活も安心！！
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>
</div>
