<div class="question">
    <div class='name'>
    ウィリアムズドーミトリー
    </div>
    <div class="main-img">
     <%= image_tag 'will.jpg', class:"image" %>
    </div>
    <div class='text'>
    池袋に徒歩で行ける利便性！！
    バストイレ別でIHコンロ２口で自炊にも便利！
    
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>