<div class="question">
    <div class='name'>
    法政大学駒込寮
    </div>
    <div class="main-img">
     <%= image_tag 'komagome.jpg', class:"image" %>
    </div>
    <div class='text'>
    山手線と南北線が使えて利便性◎
    部屋にもキッチンがあり自炊も可能！
    談話スペースもあり、友達もできる！
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>