<div class="question">
    <div class='name'>
    レジディア練馬
    </div>
    <div class="main-img">
     <%= image_tag 'nerima.jpg', class:"image" %>
    </div>
    <div class='text'>
    駅から徒歩２分！！
    流行りのスチームサウナ付き！
    なんといっても部屋が広い！
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>