<div class="question">
    <div class='name'>
    カレッジコート両国
    </div>
    <div class="main-img">
     <%= image_tag 'ryougoku.jpg', class:"image" %>
    </div>
    <div class='text'>
    週７日食事付きの健康生活を送れる！
    家具家電付きで引っ越しの費用も抑えられる。
    門限なしで自由な生活！
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>