<div class="question">
    <div class='name'>
    グランディート小石川
    </div>
    <div class="main-img">
     <%= image_tag 'koishikawa.jpg', class:"image" %>
    </div>
    <div class='text'>
    宅配BOX付きで荷物を待つ必要なし！
    １LDKの部屋もあり広々とした生活も送れる。
    キッチンはグリル付きで料理好きにはもってこい！
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>