<div class="question">
    <div class='name'>
    東京・スチューデントハウス・ミオポルト飯田橋
    </div>
    <div class="main-img">
     <%= image_tag 'tokyo.jpg', class:"image" %>
    </div>
    <div class='text'>
    女性専用で大学へのアクセスも抜群！
    カフェテリア付きでおしゃれな雰囲気～
    食事もカロリー控えめと女性には打ってつけ！
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>