<div class="question">
    <div class='name'>
    四谷３丁目学生マンション
    </div>
    <div class="main-img">
     <%= image_tag 'yotuya.jpg', class:"image" %>
    </div>
    <div class='text'>
    市ヶ谷キャンパスまで自転車で12分と好立地！
    オートロック付きでセキュリティもばっちり！！
    外観もモダン風でおしゃれ～
    </div>
    <%= link_to "トップページに戻る", bukkens_path %>

</div>