// Place all the styles related to the bukkens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
background-color:#E2D6CF
}

.content{
display:flex;
margin-right: 100px



}

.tittle{
margin-right: 10%;

}

.a{
    font-size: 90px;
    margin-left: 70px;
    margin-top: 50px;
}

.b{
    font-size: 70px;
    margin-left: 100px;
}

.box1{
    display       : inline-block;
    border-radius : 20%;          /* 角丸       */
    font-size     : 40pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
    margin-top    : 220px;
    margin-left  : 100px;
  
}
.box1:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

.box2{
    display :flex
   
}